* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.navbar--container {
  height: 8vh;
  background: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.navbar--title {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: -0.03em;
  font-size: 2em;
}

.navbar--logo {
  width: 4rem;
  margin-right: 10px;
}

/* CARD */
/* CARD */
/* CARD */
/* CARD */

.card--container {
  margin-left: 150px;
}

.card--image {
  width: 500px;
  height: 672px;
  object-fit: cover;
  border-radius: 20px;
}
